.searchbar {
  width: 80%;
  text-align: center;
}

.search-input {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  background-color: #1c2939;
  color: #fff;
  padding: 0.1rem;
  border-style: none;
  border-radius: 0.2rem;
}

.search-button {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem;
}

.flex-form {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .searchbar {
    width: 95%;
  }
  .search-input {
    height: 2rem;
    font-size: 1rem;
  }
}
